@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antique Olive';
  src: local('Antique Olive'),
    url('./fonts/Antique Olive Regular.ttf') format('ttf');
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  font-family: Helvetica, Arial, Inter, system-ui, Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: rgba(0, 0, 0, 0.5);
  --blue: rgba(24, 160, 251, 1);
  --blue-100: rgba(188, 206, 226, 1);
  --blue-200: rgba(155, 182, 213, 1);
  --blue-300: rgba(110, 148, 193, 1);
  --blue-400: rgba(81, 128, 181, 1);
  --blue-50: rgba(233, 239, 246, 1);
  --blue-500: rgba(38, 96, 163, 1);
  --blue-600: rgba(35, 87, 148, 1);
  --blue-700: rgba(27, 68, 116, 1);
  --blue-800: rgba(21, 53, 90, 1);
  --blue-900: rgba(16, 40, 68, 1);
  --gray-100: rgba(245, 245, 245, 1);
  --gray-2: rgba(172, 172, 172, 1);
  --gray-200: rgba(229, 229, 229, 1);
  --gray-300: rgba(96, 96, 96, 1);
  --green: rgba(0, 255, 0, 1);
  --green-100: rgba(212, 233, 204, 1);
  --green-200: rgba(191, 223, 180, 1);
  --green-300: rgba(161, 208, 145, 1);
  --green-400: rgba(143, 199, 124, 1);
  --green-50: rgba(241, 248, 239, 1);
  --green-500: rgba(115, 185, 91, 1);
  --green-600: rgba(105, 168, 83, 1);
  --green-700: rgba(82, 131, 65, 1);
  --green-800: rgba(63, 102, 50, 1);
  --green-900: rgba(48, 78, 38, 1);
  --heading-h1-font-family: 'ClashDisplay-Medium', Helvetica;
  --heading-h1-font-size: 34px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 500;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 41px;
  --heading-h2-font-family: 'ClashDisplay-Medium', Helvetica;
  --heading-h2-font-size: 28px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 500;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 41px;
  --large-title-font-family: 'ClashDisplay-Semibold', Helvetica;
  --large-title-font-size: 34px;
  --large-title-font-style: normal;
  --large-title-font-weight: 400;
  --large-title-letter-spacing: 0px;
  --large-title-line-height: 41px;
  --red: rgba(255, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow-100: rgba(253, 249, 206, 1);
  --yellow-200: rgba(251, 246, 182, 1);
  --yellow-300: rgba(250, 242, 148, 1);
  --yellow-400: rgba(249, 239, 128, 1);
  --yellow-50: rgba(254, 253, 239, 1);
  --yellow-500: rgba(247, 235, 96, 1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

.sample-slider {
  width: 70%;
}
.sample-slider img {
  width: 100%;
}

.slick-slider {
  height: 95%;
}

@media (min-width: 700px) {
  .slick-slider {
    height: 92%;
  }
}

@media (min-width: 1024px) {
  .slick-slider {
    height: 92%;
  }
}

@media (min-width: 1200px) {
  .slick-slider {
    height: 80%;
  }
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide > div > div {
  height: 100%;
}

.slide_item {
  flex: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}
